@font-face {
  font-family: "RussoOne-Regular";
  src: url("../assets/fonts/RussoOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
